.chat-main
  .main-header
    .aiueo
      .aiueo__title
        %p
          test
      .aiueo__members
        %p
          mamber
    .kakikukeko
      .kakikukeko__edit
        = link_to "#" do
          .kakikukeko__edit-btn Edit
  .messages
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2019/11/20
      .lower-meesage
        .lower-message__content
          おはよう！
    .message
      .upper-message
        .upper-message__user-name
          masa
        .upper-message__date
          2019/11/20
      .lower-meesage
        .lower-message__content
          おはよう！   
  .form
    %form
      %input.form__message
      .form__mask
        %label.form__mask__image
          = icon('fa','image',class: 'icon')
          %input.hidden{type: 'file'}
      %input.form__submit{type: 'submit', value: 'Send'}