.chat-side
  .side-header
    %ul.box
      %li.left
        %p
          hoge
      %li.right
        = link_to "#", class: "icon" do
          = icon('fa', 'edit',class: 'icon')
        = link_to "#", class: "icon" do
          = icon('fa', 'cog',class: 'icon')
  .groups
    .mannaka
      .ue
        %p
          teckcamp
      .sita
        %p
          まだメッセージがありません
