* {
  box-sizing: border-box;
}

.wrapper{
display:flex;
}


.chat-side{
  width: 300px;
  background-color: #253141;
  height: 100vh;
  .side-header{
    height: 100px;
    background-color: #253141;
    display:flex;
    align-items: center;
    .box{
      height: 20px;
      background-color: #253141;
      width: 260px;
      margin: 0 auto;
      display: flex;
      .left{
        height: 20px;
        width: 200px;
        justify-content: flex-start;
        p{
          font-size: 16px;
          color: #ffffff;
        }
      }
      .right{
        height: 20px;
        width: 60px;
        justify-content: flex-end;
        text-align: right;
        .icon{
          color: #ffffff;
          font-size: 15px;
          margin-left: 5px;
          text-decoration: none;
        }
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    .mannaka{
      height: 31px;
      background-color: #2f3e51;
      padding: 0px 0px 40px;
      .ue{
        font-size: 15px;
        p{
          font-size: 15px;
          color: #ffffff;
        }
      }
      .sita{
        height: 11px;
        background-color: #2f3e51;
        margin-top: 5px;
        p{
          font-size: 11px;
          color: #ffffff;
        }
      }
    }
  }
}

.chat-main{
  width: calc(100vw - 300px);
  height:100vh;
  background-color: blue;
  .main-header{
    height: 100px;
    width: calc(100vw - 300px);
    background-color: white;
    padding: 0px 40px;
    .aiueo{
      float: left;
      &__title{
        font-size: 20px;
        color: #333;
        margin: 35px 0px 0px 0px
      }
      &__members{
        font-size: 12px;
        color: #999999;
        margin-top: 15px;
      }
    }
    .kakikukeko{
      display: flex;
      justify-content: flex-end;
      &__edit{
        height: 40px;
        border: 1px solid;
        border-color: #38aef0;
        margin: 28px 20px;
        padding: 8px 20px;;
        a{;
          font-size: 16px;
          color: #38aef0;
          text-decoration: none;
        }
      }
    }
  }
  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100vh - 100px - 90px);
    overflow: scroll;
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }
  .form{
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #dddddd;
    padding: 20px 50px 20px 40px;
    &__message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
    }
    &__mask {
      background-color: white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image {
        font-size: 20px;
        line-height: 50px;
      }
      .hidden {
        display: none;
      }
    }
    &__submit {
      background-color: #38aef0;
      border: none;
      color: white;
      float: right;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
  }
}

